.orders{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 340px;
     box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset 5px 5px 5px rgba(0,0,0,0.05),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px 5px rgba(255,255,255,0.5); 
    border-radius: 15px;  
   margin-top: 2rem;   
   background: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, backdrop-filter 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.5);        
}

.orders:hover{
    transform: scale(1.05);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
}

.orders img{
    margin-top: 1rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 200px;
    width: 250px;
    border-radius: 20%;
   
}

.items-prices p{
    margin-left: -10rem;
    font-weight: 600;
}

.items-prices{
    display: flex;
    gap: 20px;
    align-items: center;
}
.item-new-prices{
    color: brown;
    font-size: 18px;
    font-weight: 600;
}

.order-set{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-left: -5rem;
    padding-bottom: 1rem;
}


.addtocart button{
    width: 105px;
  border: none;
    color: black;
    padding: 10px;
    margin-right: 50px;
    border-radius: 8px;
    background-color: #ddd;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                 -6px -6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    transition:transform 0.1s;
}

.addtocart button:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px  rgba(255,255,255,1),
                0.5px 0.5px 0px  rgba(255,255,255,0.15),
                 0px 12px 10px -10px rgba(0,0,0,0.05);
   border: 1px solid rgba(0,0,0,0.01);
   transform: translateY(2px);
}

.quantity{
    margin-left: 1.5rem;
}