/* BuyNow.css */
.buy-now-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.product-details {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.buy-button {
    background-color: #00ff40d4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    gap: 1rem;
}

.buy-button:hover {
    background-color: #00b30c69;
}

.back-link {
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
    color: darkgreen;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}

.product-not-found {
    text-align: center;
    padding: 20px;
}
