.navbar {
    display: flex;
    height: 4rem;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(264deg, green 50%, white 100%);
}

.delivery {
    margin-left: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.title p {
    margin-left: 20rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo img {
    width: 200px;
    height: 100px;
}

.search-bar input {
    margin-left: 80px;
    width: 40rem;
    padding: 10px;
}

.search{
    display: flex;
    
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
    height: 30px;
    background: white;
    border-radius:30px ;
    box-shadow: 0 10px 25px rgba(0 ,0 , 0, 0.3);
}

.search:hover input{
    width: 400px;
}

.search input{
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    font-size: 18px;
}

.icon img{
    color: aquamarine;
    font-size: 18px;
}

.icon img{
    width: 2rem;
    height: 2rem;
}



.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10rem;
    gap: 1rem;
}

.login-img img {
    width: 2rem;
    height: 2rem;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 2rem;
    height: 2rem;
}

.cart p{
    border: none;
    border-radius: 50px;
    background-color: rgb(255, 131, 127);
    margin-bottom: 40px;
    margin-left: -15px;
    padding: 2px;
    
}

.cart-add {
   cursor: pointer;
    font-weight: bolder;
    
}

.menu {
    display: flex;
    position: relative;
    
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(100, 214, 100);
    padding: 10px;
    margin: 1px;
}

.menu li{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
cursor: pointer;
}

.menu-li{
   padding: 0 23px;
font-weight: 500;
    color: black;
}

.cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-35px;
  margin-left: -13px;
    font-size: 14px;
    background-color: red;
    color: white;
    border-radius: 11px;
    }