.productdisplay {
    display: flex;
    gap: 2rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 9rem;
    
}

.product-container {
    width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    margin-left: 7rem;
}

.display-left {
    display: flex;
    flex-direction: column;
}

.display-left button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 3rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 5rem;
    border-radius: 20%;
}

.display-left button:hover{
    transition: 0.6s;
   background: linear-gradient(264deg , green 5% , rgb(30, 177, 193) 100%);
}

.display-left p {
    margin-left: 10rem;
}

.display-left img {
    width: 350px;
    height: 300px;
    margin-left: 5rem;
}

.banner li img{
    width: 2rem;
    height: 2rem;
}

.banner li{
    display: flex;
    justify-content: center;
    align-items: center;

}